//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 27 15:32:16 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

